<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Email_Sends_Python/NB_Test_Envio_correo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A. Librerías

In [1]:
!pip install pretty_html_table

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pretty_html_table in /usr/local/lib/python3.9/dist-packages (0.9.16)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pretty_html_table) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pretty_html_table) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pretty_html_table) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->pretty_html_table) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pretty_html_table) (1.15.0)

In [2]:
import pandas as pd

import smtplib
from email.message import EmailMessage
from pretty_html_table import build_table

# 01. Dataset a enviar

In [3]:
path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Kaggle_Titanic/train.csv'

In [4]:
df = pd.read_csv(path_github, dtype=object, nrows=5, usecols=['Name','Sex','Age','Survived'])
df

  Survived                                               Name     Sex Age
0        0                            Braund, Mr. Owen Harris    male  22
1        1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38
2        1                             Heikkinen, Miss. Laina  female  26
3        1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35
4        0                           Allen, Mr. William Henry    male  35

# 02. Parámetros de email

In [5]:
email_parameters = {}

# email_parameters['credentials'] = {'email_adress' : 'email.example@gmail.com',
#                                          'email_password' : 'passwordexample',
#                                          'email_host' : 'smtp.gmail.com',
#                                          'email_port' : 465
#                                         }

email_parameters['From'] = email_parameters['credentials']['email_adress']
email_parameters['To'] = ['otheremailexample@example.com', email_parameters['credentials']['email_adress']]
email_parameters['Subject'] = 'Test example subject'
email_parameters['Content'] = 'Test example content' + build_table(df, 'red_dark')

# 03. Instanciamiento objeto email

In [6]:
msg = EmailMessage()
msg['From'] = email_parameters['From']
msg['To'] = email_parameters['To'] 
msg['Subject'] = email_parameters['Subject']
msg.set_content('')
msg.add_alternative(email_parameters['Content'], subtype='html')

# 05. Envio de correo

In [ ]:
with smtplib.SMTP_SSL(email_parameters['credentials']['email_host'], email_parameters['credentials']['email_port']) as smtp:
  smtp.login(email_parameters['credentials']['email_adress'], email_parameters['credentials']['email_password'])
  print('Procediendo con el envío:')
  smtp.send_message(msg)
  print('Envio realizado con exito')