<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/HTML/DS_Email_01_Envio_HTML_(sin_attach).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prueba 02 (OK)

In [1]:
import pandas as pd

In [2]:
path_github = 'https://raw.githubusercontent.com/alexandergribenchenko/Data_Science_Datasets/main/Kaggle_Titanic/train.csv'

In [3]:
df = pd.read_csv(path_github, dtype=object, nrows=10)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [4]:
html_saludo="""<p>&nbsp;Hola!</p>

<p>ðŸ˜€</p>

<p><span style="color:#e74c3c"><strong>Estoy haciendo una prueba de envio.</strong></span></p>"""

In [5]:
html_tabla = df.to_html()

In [6]:
import os
import smtplib
import imghdr
from email.message import EmailMessage

In [7]:
EMAIL_ADDRESS = 'alexander.ortega@tcs.com'
EMAIL_PASSWORD = 'lufgqosokrhkpraz'

In [8]:
# contacts = ['alexander.ortega@tcs.com', 'alberto.lopez@avianca.com', 'catalina.lopez@dxc.com', 'catalina.lopez.subavh@avianca.com']
contacts = ['alexander.ortega@tcs.com']

msg = EmailMessage()
msg['Subject'] = 'Test Envio email 221028'
msg['From'] = EMAIL_ADDRESS
msg['To'] = contacts

msg.set_content('This is a plain text email')

In [9]:
msg.add_alternative(html_saludo + html_tabla, subtype='html')

In [10]:
with smtplib.SMTP_SSL('smtp.gmail.com', 465) as smtp:
    smtp.login(EMAIL_ADDRESS, EMAIL_PASSWORD)
    smtp.send_message(msg)

# Prueba 01 (OK)

In [11]:
# import os
# import smtplib
# import imghdr
# from email.message import EmailMessage

In [12]:
# EMAIL_ADDRESS = 'alexander.ortega@tcs.com'
# EMAIL_PASSWORD = 'lufgqosokrhkpraz'

# # contacts = ['alexander.ortega@tcs.com', 'juan.motta@avianca.com']
# contacts = ['alexander.ortega@tcs.com']

# msg = EmailMessage()
# msg['Subject'] = 'Test Envio email 221028'
# msg['From'] = EMAIL_ADDRESS
# msg['To'] = contacts

# msg.set_content('This is a plain text email')

# msg.add_alternative("""\
# <!DOCTYPE html>
# <html>
#     <body>
#         <h1 style="color:SlateGray;">This is an HTML Email!</h1>
#     </body>
# </html>
# """, subtype='html')


# with smtplib.SMTP_SSL('smtp.gmail.com', 465) as smtp:
#     smtp.login(EMAIL_ADDRESS, EMAIL_PASSWORD)
#     smtp.send_message(msg)