<a href="https://colab.research.google.com/github/alexandergribenchenko/Data_Science_Toolkit/blob/main/Pandas/DS_Pandas_04_merge_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Si las llaves tienen el mismo nombre

In [ ]:
import pandas as pd

In [ ]:
df_left = pd.DataFrame({'animal': ['foo', 'bar', 'baz', 'foo'],
                    'year': [2022, 2021, 2020, 2019]})
df_left

  animal  year
0    foo  2022
1    bar  2021
2    baz  2020
3    foo  2019

In [ ]:
df_rigth = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df_output = df_AV.merge(df_competitors_output,  how='left', on=['Date_i', 'RT', 'Travel Date_M'], suffixes=('_CW', '_LW'))

In [ ]:
  df_competitors_output = df_left_competitors.merge(df_right_competitors, left_on=list(df_left_competitors.columns),
                                        right_on=['Date_i', 'RT', 'Travel Date_M', 'Total_ASKs_Airline']).\
                                        drop('Total_ASKs_Airline', axis=1).rename(columns={'Airline Code':'Competitor'})

# 02. Merge more than one table

In [ ]:
df_spend_curated  = df_wh_media_placements__daily_ad_spend_fact.\
    merge(df_wh_core__companies_dim
        [df_wh_core__companies_dim.company_name.isin(companies_interest)].\
        rename(columns = {'company_pk':'company_fk'}),
        on=['company_fk'],
         how='right'
    ).\
    merge(df_wh_core__divisions_dim.\
        rename(columns = {'division_pk':'division_fk'}),
        on=['company_fk', 'division_fk', 'company_name'],
         how='left'
    ).\
    merge(df_wh_core__platform_context_dim.\
        rename(columns = {'platform_context_pk':'platform_fk'}),
        on='platform_fk',
         how='left'
    )